body {
    background-color: #eeeeee;
    color: #333333;
    font-family: 'Arial', 'Verdana', sans-serif;
    }
td {
    border: 1px solid black;
}
.topnav {
    background-color: #2180ce;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17 px;   
}
.topnav a:hover {
    background-color: #1a598b;
    color: black;
}
.topnav a.active {
    background-color: #1a598b;
    color: white;
  }
