/*Fonts all pages*/
body {
    background-color: #e2e2e2;
    color: #333333;
    font-family: 'Segoe UI','Arial','Verdana',sans-serif;
    }


/*Profile card CSS*/
.profile-card {
    box-shadow: 0 4px 8px 0 #2180ce;
    max-width: 200px;
    margin: center;
    text-align: center;
  }


.title {
    color: rgb(0, 0, 0);
    font-size: 18px;
  }
  

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #2180ce;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }


button:hover, a:hover {
    opacity: 0,7;
  }


/*Border around table*/    
td {
    border: 1px solid black;
}


/*Top Navigation bar configuration*/
.topnav {
    background-color: #2180ce;
    overflow: hidden;
    margin: -10px
}
.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17 px;   
}
.topnav a:hover {
    background-color: #1a598b;
    color: black;
}
.topnav a.active {
    background-color: #1a598b;
    color: white;
  }
