/*Fonts all pages*/
body {
    background-color: #d3d3d3be;
    color: #333333;
    font-family: 'Segoe UI','Arial','Verdana',sans-serif;
    }


/*HZpasfoto*/
.thin-black-border-hz-foto {
    border-color: rgb(0, 0, 0);
    border-width: 7px;
    border-style: solid;
} 


/*Border around table*/    
td {
    border: 1px solid black;
}


/*Top Navigation bar configuration*/
.topnav {
    background-color: #2180ce;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17 px;   
}
.topnav a:hover {
    background-color: #1a598b;
    color: black;
}
.topnav a.active {
    background-color: #1a598b;
    color: white;
  }
